
<ul>    
    <li><a routerLink="/Personnages" routerLinkActive="active">Liste Personnages</a></li>
    <li><a routerLink="/Armes" routerLinkActive="active">Liste Armes</a></li>
    <li><a routerLink="/NouvArme" routerLinkActive="active">Nouvelle Arme</a></li>
</ul>

    
<router-outlet></router-outlet>
    
    