<p>
  smartlist-arme works!
</p>



<h3 style="text-align: center">Table intelligente pour la gestion des roles</h3>
<ng2-smart-table 
[settings]="settingss2" 
[source]="dsource2"
>
</ng2-smart-table>