<p>
  smartlist-personnage works!
</p>

<h1 style="text-align: center">TEST !</h1>

<h3 style="text-align: center">Table intelligente pour la gestion des personnages</h3>
<ng2-smart-table 
[settings]="settingss" 
[source]="dsource"
(userRowSelect)="onUserSelectR($event)"
(deleteConfirm)="onDeleteConfirms($event)"
(editConfirm)="onSaveConfirms($event)"
(createConfirm)="onCreateConfirms($event)"
>
</ng2-smart-table>