<div class="container">
    <h1 style="text-align: center">Ajouter Arme</h1>
    <form (ngSubmit)="onSubmit()" novalidate>

      <div class="form-group">
        <label for="nom">Name</label>
        <input type="text" class="form-control" id="nom" required ngModel>
      </div>
 
      <div class="form-group">
          <label for="type">Type</label>
          <input type="text" class="form-control" id="type" ngModel>
      </div>

      <div class="form-group">
          <label for="distance">Distance</label>
          <input type="text" class="form-control" id="distance" ngModel>
      </div>

      <div class="form-group">
          <label for="Description">Description</label>
          <input type="text" class="form-control" id="Description" ngModel>
      </div>

      <div class="form-group">
          <label for="Power">Power</label>
          <input type="text" class="form-control" id="Power">
      </div>

 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div>